#firewall --enabled --http --ssh --port=443:tcp
firewall --disabled

install
cdrom

lang en_US.UTF-8
keyboard us
timezone Europe/Oslo

network --onboot yes --device eth0 --bootproto dhcp --noipv6
rootpw root
authconfig --enableshadow --passalgo=sha512

selinux —-disabled
bootloader --location=mbr --driveorder=sda --append="crashkernel=auto rhgb quiet"
text
skipx

logging --level=info
zerombr

clearpart --drives=sda --all --initlabel
ignoredisk --only-use=sda

part /boot --fstype=ext4 --size=500
part swap --size=6000
part / --fstype=ext4 --grow --size=200

auth  --useshadow  --enablemd5
firstboot --disabled
reboot

%packages --ignoremissing
@Base
@Core
@Development Tools
kernel-uek-devel
kernel-uek-headers
gcc.x86_64
gcc-c++.x86_64
binutils.x86_64
compat-libcap1.x86_64
compat-libcap1.i686
glibc.i686
glibc.x86_64
glibc-devel.x86_64
glibc-devel.i686
ksh.x86_64
libgcc.x86_64
libgcc.i686
compat-libstdc++-33.x86_64
compat-libstdc++-33.i686
libstdc++.x86_64
libstdc++.i686
libstdc++-devel.x86_64
libstdc++-devel.i686
libaio.x86_64
libaio.i686
elfutils-libelf-devel.x86_64
elfutils-libelf-devel.i686
libaio-devel.x86_64
libaio-devel.i686
make.x86_64
sysstat.x86_64
%end

%post
wget -O/etc/pki/tls/certs/ca-bundle.crt http://curl.haxx.se/ca/cacert.pem
groupadd vagrant -g 999
useradd vagrant -g vagrant -G wheel -u 900
echo "vagrant" | passwd --stdin vagrant
echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers
%end
